<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/navbar.js"></script>


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/activity.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>
    <div class="banner" style="background-image: url('<%= items[2][0].imgName %>'); ">
    </div>
    <!-- 文章列表區塊 -->
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="activity">
                <div class="title">
                    <h4 style="font-weight: bold;"><%= items[0][0].artiHead %></h4>
                    <a class="dateTime" style="color: #6c757d;"> · 截止日 2019-11-15</a>
                    <hr>
                    <% if(items[4] && items[4] == 'SYSOP') {%>
                    <div class="dropdown float-right">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dotMenu " aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/editArticle/<%= items[0][0].artiNum %>">編輯</a>
                            <a class="dropdown-item" onclick=<%= "delArticle(" + items[0][0].artiNum + ")" %>>刪除</a>
                        </div>
                    </div>
                    <% } %>

                </div>

                <div class="content">
                    123213211232132112321321123213211232132112321321123213211232132112321321123213211232132112321321
                    <p><%- items[0][0].artiCont %>
                    </p>
                </div>
                <div class="tagDiv col-lg-12 ">
                    <% for(var i = 0 ; i < items[5].length; i++) { %>
                    <button type="button" class="btn tag"> <%= items[5][i].tagName %></button>
                    <% } %>
                </div>
            </div>
            <hr>
            <hr>
            <h5 style="font-weight: bold;">回應</h5>
            <% if(items[1] != undefined) { %>
            <% for(var i = 0 ; i<items[1].length ; i++) { %>
            <div class="response">
                <div class="info">
                    <div style="white-space:nowrap !important">
                        <a class="name"><%= items[1][i].memName %></a>
                        <a class="dateTime"> · <%= items[1][i].artiMessDateTime %></a>
                    </div>
                </div>
                <%- items[1][i].artiMessCont %>
            </div>
            <% } %>
            <% } %>

            <div class="replying">
                <div class="replyInput" id="replyInput" contenteditable="true" role="textbox" data-text="快來參與活動吧！">
                </div>
                <label class="btn btn-dark col-lg-2" style="cursor: pointer">
                    <input id="file-selector" type="file" multiple="multiple" accept=".jpg,.png,.gif,.tif,.bmp" />
                    <i class="fas fa-images" style="padding-right:5px"></i>加圖片
                </label>

                <button type="submit" class="btn btn-danger float-right submitReplyButton col-lg-2 shadow-none"
                    onclick=<%= "submitReply(" + items[0][0].artiNum + ")" %>>提交</button>
            </div>
        </div>
    </div>


    <!-- 文章列表區塊結束 -->
    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>
    <div class='coverContainer'>
        <div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/active.js"></script>
    <script src="/javascripts/imageCompression.js"></script>
    <script>
        function delArticle(artiNum) {
            if (confirm('您真的要刪除文章嗎？')) {
                $('.spinner-border').css('display', 'block')
                $('.coverContainer').css('display', 'block')
                $.ajax({
                    url: '/addLike',
                    type: 'POST',
                    data: { "artiNum": artiNum, "memID": '<%= items[0][0].memID %>', "delArticle": true },
                    success: function (res) {
                        alert('刪除成功！')
                        location.replace("/activityList");
                    },
                    error: function (res) {
                        alert('刪除失敗！')
                    }
                });
            }
        }
        var member = '<%=items[4]%>'
        $('.postReport,.replyReport').click(() => {
            if (!member) {
                alert('請進行登入再檢舉！')
                location.replace("/logIn");
            }
        })
        $('#replyInput').click(() => {
            if (!member) {
                alert('請進行登入再留言！')
                location.replace("/logIn");
            }
            var el = document.querySelector('#replyInput');
            var range = document.createRange();
            var sel = window.getSelection();
            if (sel.focusNode.previousElementSibling.className == 'upload-img' || sel.focusNode.nextElementSibling.className == 'upload-img') {
                range.setStart(el.lastChild, 0);
                range.collapse(true);
                sel.removeAllRanges();
                sel.addRange(range);
            }
        })
        var formData = new FormData(); //用formData來存取要傳送的所有資料
        // 選取到檔案後開始動作
        $('#file-selector').change(function (event) {
            let timeStamp = new Date().getTime()
            var file = $("#file-selector")[0];  //取得檔案
            //如果有檔案就要加入formData
            if (file.files.length) {
                Object.keys(file.files).map((img, index) => {
                    // 解析檔案
                    var item = file.files[img]
                    var reader = new FileReader();
                    reader.onload = (function (item) {
                        return async function (event) {
                            var getSize = getOriginalSize(event.target.result)
                            getSize.then(function (size) {
                                var canvasUrl = drawToCanvas(event.target.result, size.originWidth, size.originHeight)
                                canvasUrl.then(function (strDataURI) {
                                    var title = escape(file.name);
                                    var img = '<img class="upload-img" src="' + strDataURI + '" title="' + title + '"/> ';
                                    $('#replyInput').append(img);
                                    $('#replyInput').append('<span id="lastbr"></span><br /><br />');
                                    var el = document.querySelector('#replyInput');
                                    var range = document.createRange();
                                    var sel = window.getSelection();
                                    range.setStart(el.lastChild, 0);
                                    range.collapse(true);
                                    sel.removeAllRanges();
                                    sel.addRange(range);
                                }, (e) => {
                                    console.log(e)
                                })
                            })
                        };
                    })(file);
                    reader.readAsDataURL(item);
                })
                $('#file-selector').val('')
            }
        });
        function submitReply(artiNum) {
            var templateCont = document.getElementById('replyInput').innerHTML.replace(/&nbsp;/g, '').replace(/&ensp;/g, '').replace(/&emsp;/g, '').replace(/<br>/g, '').trim()
            if (templateCont == '') {
                alert('請輸入回覆內容！')
                return;
            }
            $('.submitReplyButton').addClass('disabled')
            $('.submitReplyButton').attr('disabled', true)
            $('.spinner-border').css('display', 'block')
            $('.coverContainer').css('display', 'block')

            if ($("#replyInput").find("img")) {
                Array.from($("#replyInput").find("img")).map((img) => {
                    formData.append('base64Index', img.getAttribute('src'));
                    $(img).before("\\:imgLocation")
                })
            }
            formData.append('artiNum', artiNum);
            var replyCont = [];
            var replyData = document.querySelectorAll("div.replyInput"); //只取得文字部分(不含圖片) ;
            // 取得內容
            replyData.forEach(function (element) {
                replyCont.push(element.innerText);
            }, this);
            formData.append('replyCont', replyCont);
            $.ajax({
                url: 'https://analyze405.herokuapp.com/sentimentAnalyze/',
                type: 'POST',
                dataType: 'TEXT',
                data: { 'artiCont': `${replyCont}` },
                success: function (res) {
                    var analyzeRes = JSON.parse(res)
                    formData.append('analyzeScore', analyzeRes.analyze[0]);
                    formData.append('positiveWords', analyzeRes.analyze[1]);
                    formData.append('negativeWords', analyzeRes.analyze[2]);
                    formData.append('swearWords', analyzeRes.analyze[3]);
                    formData.append('score2', analyzeRes.analyze[4]);
                    $.ajax({
                        url: '/article/reply',
                        type: 'POST',
                        dataType: 'TEXT',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            if (res == "請進行登入") {
                                alert(res);
                                location.replace("/logIn");
                            } else if (res == "留言成功") {
                                alert(res);
                                location.reload();
                            } else {
                                alert('哎呀，出現錯誤')
                            }
                        },
                        error: function (res) {
                            console.log("哎呀，出現錯誤", res);
                        }
                    });
                },
                error: function (res) {
                    console.error(res)
                }
            });
        }
    </script>
    <!-- 收藏 ajax script -->

</body>

</html>