<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/article.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>

    <!-- 使用者發文 -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 content shadow">
                <div class="info d-flex">
                    <div><a class="floorTag">樓主</a></div>
                    <div><a><%= items[0][0].memID %></a>
                        <a class="next"></a>
                        <a class="dateTime">於<%= items[0][0].artiDateTime %>發佈</a>
                    </div>
                </div>
                <hr />

                <h5><%= items[0][0].artiHead %></h5>
                <hr />

                <p class="content"> <%- items[0][0].artiCont %>
                </p>
                <!-- tag -->
                <div class="tagDiv col-lg-12 ">
                    <% for (var i = 0 ; i< items[2].length ; i++) { %>
                    <button type="button" class="btn  tag"><%= items[2][i].tagName %></button>
                    <% } %>
                </div>
                <hr class="info">
                <!-- info -->
                <div class="info">
                    <!-- 愛心按鈕 -->
                    <button type="button" id="LikeUnLogIn" class="btn postInfo" onclick="location.href='/login'"> <i
                            class="fab fa-gratipay"></i><a><%= items[0][0].likeCount %></a></button>
                    <button type="button" id="addLike" class="btn postInfo"
                        onclick=<%= "addLike(" + items[0][0].artiNum + ")" %>> <i class="fab fa-gratipay"></i><a
                            id="addLikeCount"> <%= items[0][0].likeCount %> </a></button>
                    <button type="button" id="delLike" class="btn postInfo" style="color:#c93737"
                        onclick=<%= "delLike(" + items[0][0].artiNum + ")" %>><i class="fab fa-gratipay"></i><a
                            id="delLikeCount"><%= items[0][0].likeCount %> </a></button>
                    <!-- 如果沒登入 -->
                    <% if(items[7][0] == undefined) {%>
                    <script type="text/javascript">
                        document.getElementById("LikeUnLogIn").style.display = "inline";
                        document.getElementById("addLike").style.display = "none";
                        document.getElementById("delLike").style.display = "none";
                    </script>

                    <!-- 如果有登入及沒按過愛心 -->
                    <% }else if(items[4][0] == undefined && items[7][0] != undefined ) {%>
                    <script type="text/javascript">
                        document.getElementById("addLike").style.display = "inline";
                        document.getElementById("LikeUnLogIn").style.display = "none";
                        document.getElementById("delLike").style.display = "none";
                    </script>
                    <!-- 如果有登入及按過愛心 -->
                    <% }else if(items[4][0] != undefined && items[7][0] != undefined) {%>
                    <script type="text/javascript">
                        document.getElementById("delLike").style.display = "inline";
                        document.getElementById("addLike").style.display = "none";
                        document.getElementById("LikeUnLogIn").style.display = "none";
                    </script>
                    <!-- 邏輯錯誤 -->
                    <% } else {%>
                    <script type="text/javascript">
                        document.getElementById("delLike").style.display = "none";
                        document.getElementById("addLike").style.display = "none";
                        document.getElementById("LikeUnLogIn").style.display = "none";
                    </script>
                    <% } %>

                    <!-- 留言數量按鈕 -->
                    <button type="button" class="btn postInfo" id="goBottom"><i
                            class="fas fa-comment-dots"></i><a><%= items[0][0].messCount %></a></button>

                    <!-- 收藏按鈕 -->
                    <button type="button" id="unLogIn" class="btn postInfo" onclick="location.href='/login'">
                        <i class="far fa-bookmark"></i></button>

                    <button type="button" id="addColle" class="btn postInfo"
                        onclick=<%= "addColle(" + items[0][0].artiNum + ")" %>>
                        <i class="far fa-bookmark"></i></button>

                    <button type="button" id="delColle" class="btn postInfo"
                        onclick=<%= "delColle(" + items[0][0].artiNum + ")" %>>
                        <i class="fas fa-bookmark"></i></button>

                    <!-- 如果沒登入 -->
                    <% if(items[7][0] == undefined) {%>
                    <script type="text/javascript">
                        document.getElementById("unLogIn").style.display = "inline";
                        document.getElementById("addColle").style.display = "none";
                        document.getElementById("delColle").style.display = "none";
                    </script>

                    <!-- 如果有登入及沒按過收藏 -->
                    <% }else if(items[3][0] == undefined && items[7][0] != undefined ) {%>
                    <script type="text/javascript">
                        document.getElementById("addColle").style.display = "inline";
                        document.getElementById("unLogIn").style.display = "none";
                        document.getElementById("delColle").style.display = "none";
                    </script>
                    <!-- 如果有登入及按過收藏 -->
                    <% }else if(items[3][0] != undefined && items[7][0] != undefined ) {%>
                    <script type="text/javascript">
                        document.getElementById("delColle").style.display = "inline";
                        document.getElementById("addColle").style.display = "none";
                        document.getElementById("unLogIn").style.display = "none";
                    </script>
                    <% } %>
                    <button type="button" class="btn report" id="postReport">檢舉</button>
                </div>
                <!-- 收藏 ajax script  -->
                <script>
                    //新增收藏
                    function addColle(artiNum) {
                        collection();
                        $.ajax({
                            url: '/addCollection',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { "likeType": "article", "artiNum": artiNum },
                            success: function (res) {
                                console.log("yes", JSON.stringify(res));
                            },
                            error: function (res) {
                                console.log("失敗", JSON.stringify(res));
                            }
                        });
                    };
                    //刪除收藏
                    function delColle(artiNum) {
                        // console.log("前端刪除訊息");
                        cancelCollection();
                        $.ajax({
                            url: '/delCollection',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { "likeType": "article", "artiNum": artiNum },
                            success: function (res) {
                                console.log("yes", JSON.stringify(res));

                            },
                            error: function (res) {
                                console.log("失敗", JSON.stringify(res));
                            }
                        });
                    };
                    //點收藏後改變屬性
                    function collection() {
                        document.getElementById("delColle").style.display = "inline";
                        document.getElementById("unLogIn").style.display = "none";
                        document.getElementById("addColle").style.display = "none";
                    }
                    //取消收藏後改變屬性
                    function cancelCollection() {
                        document.getElementById("addColle").style.display = "inline";
                        document.getElementById("unLogIn").style.display = "none";
                        document.getElementById("delColle").style.display = "none";
                    }
                </script>

                <!-- 愛心 ajax script -->
                <script>
                    //新增愛心
                    function addLike(artiNum) {
                        $.ajax({
                            url: '/addLike',
                            type: 'POST',
                            dataType: 'text',
                            data: { "likeType": "article", "artiNum": artiNum },
                            success: function (res) {
                                console.log("yes", JSON.stringify(res));
                                likeCount(artiNum);
                                like();
                            },
                            error: function (res) {
                                console.log("失敗", res);

                            }
                        });

                    };
                    //刪除愛心
                    function delLike(artiNum) {
                        // console.log("前端刪除訊息");     
                        $.ajax({
                            url: '/delLike',
                            type: 'POST',
                            dataType: 'text',
                            data: { "likeType": "article", "artiNum": artiNum },
                            success: function (res) {
                                console.log("yes", JSON.stringify(res));
                                likeCount(artiNum);
                                cancelLike();
                            },
                            error: function (res) {
                                console.log("刪除失敗", JSON.stringify(res));
                            }
                        });

                    };
                    //點愛心後改變屬性
                    function like() {
                        document.getElementById("delLike").style.display = "inline";
                        document.getElementById("LikeUnLogIn").style.display = "none";
                        document.getElementById("addLike").style.display = "none";
                    }
                    //取消愛心後改變屬性
                    function cancelLike() {
                        document.getElementById("addLike").style.display = "inline";
                        document.getElementById("LikeUnLogIn").style.display = "none";
                        document.getElementById("delLike").style.display = "none";
                    }
                    function likeCount(artiNum) {
                        $.ajax({
                            url: '/likeCount',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { "likeType": "article", "artiNum": artiNum },
                            success: function (res) {
                                // console.log("yes", reponse.responseText);
                                console.log("yes", JSON.stringify(res));
                                document.getElementById("addLikeCount").innerHTML = JSON.stringify(res);
                                document.getElementById("delLikeCount").innerHTML = JSON.stringify(res);
                            },
                            error: function (res) {
                                console.log("no", JSON.stringify(res));
                            }

                        });
                    }
                    // =========================
                    // ------ 留言新增愛心 ------
                    // =========================
                    //增加留言愛心
                    function MessAddLike(artiNum, artiMessNum) {
                        $.ajax({
                            url: '/addLike',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { "likeType": "articleMess", "artiMessNum": artiMessNum, "artiNum": artiNum },
                            success: function (res) {
                                console.log("yes", JSON.stringify(res));
                                MessLikeCount(res.artiNum, res.artiMessNum);
                                MessLike(res.artiNum, res.artiMessNum);
                            },
                            error: function (res) {
                                console.log("失敗", res);

                            }
                        });

                    };
                    //刪除留言愛心
                    function MessDelLike(artiNum, artiMessNum) {
                        // console.log("前端刪除訊息");     
                        $.ajax({
                            url: '/delLike',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { "likeType": "articleMess", "artiMessNum": artiMessNum, "artiNum": artiNum },
                            success: function (res) {
                                console.log("yes", JSON.stringify(res));
                                MessLikeCount(res.artiNum, res.artiMessNum);
                                cancelMessLike(res.artiNum, res.artiMessNum);
                            },
                            error: function (res) {
                                console.log("刪除失敗", JSON.stringify(res));
                            }
                        });

                    };
                    //點留言愛心後改變屬性
                    function MessLike(artiNum, artiMessNum) {
                        document.getElementById("MessDelLike" + artiNum + artiMessNum).style.display = "inline";
                        document.getElementById("MessLikeUnLogIn" + artiNum + artiMessNum).style.display = "none";
                        document.getElementById("MessAddLike" + artiNum + artiMessNum).style.display = "none";
                    }
                    //取消留言愛心後改變屬性
                    function cancelMessLike(artiNum, artiMessNum) {
                        document.getElementById("MessAddLike" + artiNum + artiMessNum).style.display = "inline";
                        document.getElementById("MessLikeUnLogIn" + artiNum + artiMessNum).style.display = "none";
                        document.getElementById("MessDelLike" + artiNum + artiMessNum).style.display = "none";
                    }
                    //取得留言愛心數
                    function MessLikeCount(artiNum, artiMessNum) {
                        $.ajax({
                            url: '/likeCount',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { "likeType": "articleMess", "artiMessNum": artiMessNum, "artiNum": artiNum },
                            success: function (res) {
                                // console.log("yes", reponse.responseText);
                                console.log("yes", JSON.stringify(res));
                                document.getElementById("MessAddLikeCount" + res.artiNum + res.artiMessNum).innerHTML = res.data;
                                document.getElementById("MessDelLikeCount" + res.artiNum + res.artiMessNum).innerHTML = res.data;
                            },
                            error: function (res) {
                                console.log("no", JSON.stringify(res));
                            }
                        });
                    }
                </script>
                <!-- info結束 -->
            </div>
        </div>
        <!-- 使用者發文結束' -->

        <center>
            <h1>文章留言</h1>
            <hr class="separate">
        </center>

        <!-- 文章留言 -->

        <div class="row justify-content-center">
            <% for(var i = 0 ; i < items[1].length ; i ++){ %>
            <div class="col-lg-8 content shadow">
                <!-- 文章留言 -->
                <div class="message">
                    <!-- info -->
                    <div class="info d-flex">
                        <div><a class="floorTag"><%= i+1 %> 樓</a></div>
                        <div><a class="name"><%= items[1][i].memID %></a>
                            <a class="next"></a>
                            <a class="dateTime">於<%= items[1][i].artiMessDateTime %>留言</a>
                        </div>
                        <!-- 愛心按鈕 -->
                        <div class="col-sm-1 ml-auto likeContainer">
                            <button type="button" class="btn like"
                                id=<%= "MessLikeUnLogIn" + items[0][0].artiNum + items[1][i].artiMessNum %>
                                onclick="location.href='/login'"><i
                                    class="fab fa-gratipay"></i><a><%= items[1][i].likeCount %></a></button>
                        </div>
                    </div>
                    <hr class="smallMagin">

                    <button type="button" id=<%= "MessAddLike"+ items[0][0].artiNum + items[1][i].artiMessNum %>
                        class="btn like"
                        onclick=<%= "MessAddLike(" + items[0][0].artiNum + "," + items[1][i].artiMessNum + ")" %>>
                        <i class="fab fa-gratipay"></i>
                        <a id=<%="MessAddLikeCount" + items[0][0].artiNum + items[1][i].artiMessNum %>>
                            <%= items[1][i].likeCount %>
                        </a>
                    </button>

                    <button type="button" id=<%= "MessDelLike" + items[0][0].artiNum + items[1][i].artiMessNum %>
                        class="btn like" style="color:#c93737"
                        onclick=<%= "MessDelLike(" + items[0][0].artiNum + "," + items[1][i].artiMessNum + ")" %>>
                        <i class="fab fa-gratipay"></i>
                        <a id=<%= "MessDelLikeCount" + items[0][0].artiNum + items[1][i].artiMessNum %>>
                            <%= items[1][i].likeCount %>
                        </a>
                    </button>

                    <!-- 如果沒登入 -->
                    <% if(items[7][0] == undefined) {%>
                    <script type="text/javascript">
                        document.getElementById("MessLikeUnLogIn" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "inline";
                        document.getElementById("MessAddLike" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                        document.getElementById("MessDelLike" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                    </script>
                    <!-- 如果有登入 -->
                    <% }else if(items[7][0] != undefined ) {%>
                    <% var isLike = false %>
                    <% if(items[5] != undefined){ %>
                    <% for(var j = 0 ; j < items[5].length ; j++) { %>
                    <!-- 如果有按愛心 -->
                    <% if (items[5][j].artiMessNum == items[1][i].artiMessNum){ %>
                    <script type="text/javascript">
                        document.getElementById("MessDelLike" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "inline";
                        document.getElementById("MessAddLike" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                        document.getElementById("MessLikeUnLogIn" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                    </script>
                    <% isLike = true %>
                    <% } %>
                    <% } %>
                    <% } %>
                    <!-- 如果沒有按過愛心 -->
                    <% if( isLike == false ){ %>
                    <script type="text/javascript">
                        document.getElementById("MessAddLike" + "<%= items[0][0].artiNum %>" + "<%=  items[1][i].artiMessNum %>").style.display = "inline";
                        document.getElementById("MessLikeUnLogIn" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                        document.getElementById("MessDelLike" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                    </script>
                    <% } %>
                    <% }else {%>
                    <script type="text/javascript">
                        document.getElementById("MessDelLike" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                        document.getElementById("MessAddLike" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                        document.getElementById("MessLikeUnLogIn" + "<%= items[0][0].artiNum %>" + "<%= items[1][i].artiMessNum %>").style.display = "none";
                    </script>
                    <% } %>
                    <!-- info結束 -->
                    <p class="content"> <%= items[1][i].artiMessCont %>
                    </p>
                </div>
                <button type="button" class="btn report">檢舉</button>
            </div>
            <% } %>
        </div>
        <!-- 文章留言結束 -->

        <!-- replying -->
        <div class="row replying justify-content-center" id="reply" spellcheck="false">
            <div class="col-lg-8 content shadow">
                <div class="replyInput" id="replyInput" contenteditable="true" role="textbox" data-text="請輸入回覆內容"></div>

                <label class="btn btn-dark col-lg-2" style="cursor: pointer">
                    <input id="file-selector" type="file" multiple="multiple" accept=".jpg,.png,.gif,.tif,.bmp" />
                    <i class="fas fa-images" style="padding-right:5px"></i>加圖片
                </label>

                <button type="submit" class="btn btn-danger float-right submitReply col-lg-2 shadow-none"
                    onclick="test()">提交回覆</button>

            </div>

        </div>
        <!-- replying end -->

        <a href="#" id="gotop">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script src="/javascripts/active.js "></script>
    <script src="/javascripts/navbar.js"></script>

    <script>
        var formData = new FormData(); //用formData來存取要傳送的所有資料
        //上傳檔案按鈕有變動就執行
        $("#file-selector").change(function () {
            var file = $("#file-selector")[0];  //取得檔案
            //如果有檔案就要加入formData
            if (file.files.length) {
                for (var i = 0; i < file.files.length; i++) {
                    $("#replyInput").html(document.getElementById("replyInput").innerHTML + "\\:imgLocation");
                }
                // if (document.getElementById("postInput").innerHTML.match("<img") == null) {
                //     file.value = '';
                // }

                for (var i in file.files) {
                    formData.append('userImg', file.files[i]);
                }

            }
        });
        function test() {
            var img = [];
            var replyCont = [];
            var artiData = document.querySelectorAll("div.replyInput"); //只取得文字部分(不含圖片) ;
            // 取得內容
            artiData.forEach(function (element) {
                replyCont.push(element.innerText);
            }, this);
            console.log(replyCont);

            formData.append('replyCont', replyCont);

            $.ajax({
                url: '/article/post',
                type: 'POST',
                dataType: 'TEXT',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log("yes", res);
                    if (res == "請進行登入") {
                        alert(res);
                        location.replace("/login");
                    } else if (res == "留言成功") {
                        alert(res);
                        location.replace("/articleList");
                    } else {
                        alert(res);
                    }
                },
                error: function (res) {
                    // console.log("失敗", res);
                }
            });
        }

    </script>
</body>

</html>