<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/active.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/articleList.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>

    <script src="/javascripts/header.js"></script>


    <!-- 文章列表區塊 -->
    <section id="articleList">
        <div class="container-fluid article">
            <center>
                <h3>文章收藏</h3>
                <hr class="highlight">
            </center>

            <div class="row d-flex justify-content-center">

                <div class="search col-lg-5 mx-auto">
                    <!-- Search -->
                    <form class="form-inline d-flex">
                        <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 search col-sm-10"
                            id="search" placeholder="輸入欲搜尋之關鍵字">
                        <button type="submit" class="search btn-primary mx-auto col-sm-3">搜尋</button>
                    </form>
                    <!-- Search End -->
                </div>
                <div class="w-100"></div>

                <div class="col-12 mb-3 col-lg-8 ">
                    <% for(var i=0; i<items[0].length; i++) {%>
                    <!-- list -->
                    <div class="card shadow list " onclick="location.href='#' " style="cursor:pointer; ">

                        <div class="card-body ">
                            <div class="poster">
                                <div class="name">
                                    <p><%= items[0][i].memID %> 於 <%= items[0][i].artiDateTime %> 發表</p>
                                </div>
                                <hr>
                            </div>
                            <h3 class="card-title "><%= items[0][i].artiHead %>
                            </h3>
                            <p class="card-text "><%= items[0][i].artiCont %>
                            </p>

                            <div class="tagDiv col-lg-12 ">
                                <% for(var j=0; j<items[3][i].length; j++) {%>
                                <button type="button" class="btn  tag"><%= items[3][i][j]%></button>
                                <% } %>
                            </div>
                            <hr class="info">

                        </div>
                        <!-- info -->
                        <div class="info">
                            <button type="button" class="btn postInfo"><i
                                    class="fab fa-gratipay"></i><a><%= items[1][i].count %>
                                </a></button>
                            <button type="button" class="btn postInfo"><i
                                    class="fas fa-comment-dots"></i><a><%= items[2][i].count %></a></button>
                            <button type="button" class="btn postInfo"><i class="far fa-bookmark"></i><a></a></button>
                        </div>
                        <!-- info結束 -->

                        <!-- <div class="wrapperCard card-img-top " style="background-image: url( 'imgs/testImgs/15.jpg'); "> -->
                    </div>
                    <% } %>
                    <div class="w-100"></div>

                    <!-- listEnd -->



                </div>

            </div>


        </div>
    </section>
    <!-- 文章列表區塊結束 -->



    <div class=" buttons fixed-bottom  d-flex justify-content-center align-middle">
        <button type="button " class="btn btn-secondary footer"
            onclick="location.href='/collection/article'">所有分類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article/movie'">電影類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article/music'">音樂類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article/book'">書籍類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article/exhibition'">展覽類</button>

    </div>


    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/javascripts/active.js"></script>
</body>

</html>