<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link type="text/css" href="https://rawgit.com/elrumordelaluz/csshake/master/dist/csshake.min.css">
    <link href="/css/headerIndex.css" rel="stylesheet" type="text/css" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/aos.css" />


    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>

    <!-- 封面區塊 -->
    <div class="banner">
        <a id="goDown"> <i class="fas fa-chevron-circle-down"></i>
        </a>
        <div id="block" class="block"></div>
    </div>
    <!-- 封面區塊結束 -->

    <!-- Portfolio Section -->
    <section id="portfolio">
        <center>
            <h2>本週精選推薦</h2>
            <hr class="highlight">
        </center>

        <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend">

            <!-- 推薦 -->
            <% for(var i = 0 ; i<items[0].length ; i ++) { %>

            <!-- 如果有抓到圖片 -->
            <% isImg = false %> 
            <% for(var j = 0 ; j<items[4].length ; j++ ) { %>
                <% if(items[0][i].recomNum == items[4][j].recomNum){ %>
                    <div class="wrapper col-12  col-lg-4" 
                        style="background-image: url('imgs/recommend/<%= items[4][j].imgName%>');"
                        onclick="location.href='/recommendList'" data-aos="fade-right">
                    <% isImg = true %>
                <% } %>
            <% } %>
             <!-- 如果沒抓到半張圖片 -->
            <% if(isImg == false) { %>
                <div class="wrapper col-12  col-lg-4" onclick="location.href='/recommendList'" data-aos="fade-right" > 
            <% } %>
            
                <a class="portfolio-box" href="/oneRecommend/<%= items[0][i].recomNum %>">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p><%= items[0][i].recomClass %></p>
                        </div>
                        <div class="project-name">
                            <p class="title"><%= items[0][i].recomHead %></p>
                            </p>
                            <p class="content wrapText"><%- items[0][i].recomCont %>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <% if( (i+1) %2 == 0){ %>
            <div class="w-100"></div>
            <% } %>
            <% } %>
            <!-- 推薦結束 -->
        </div>
    </section>

    <!-- 熱門文章區塊 -->

    <section id="hotArticle">
        <div class="container hotArticle">
            <center>
                <h2>熱門文章</h2>
                <hr class="highlight">
            </center>
            <div class="row">
                <div class="col-lg-7">
                    <div class="card  shadow" onclick="location.href='/article/<%= items[1][0].artiNum %>'"
                        style="cursor:pointer;">

                        <div class="card-body">
                            <h3 class="card-title"><%= items[1][0].artiHead %>
                            </h3>
                            <p class="card-text wrapBigHotSectionText">
                                <%- items[1][0].artiCont %>
                            </p>

                            <p class="poster">
                                <%= items[1][0].memID %> 於 <%= items[1][0].artiDateTime %>發佈
                            </p>
                            
                            <!-- tag -->
                            <div class="tagDiv">
                                <% if(items[5] != undefined) { %>
                                    <% for (var j = 0 ; j < items[5].length ; j++) { %>
                                        <% if(items[5].artiNum == items[1][0].artiNum) { %>
                                            <button type="button" class="btn  tag">items[5][0].tagName</button>
                                        <% } %>
                                    <% } %>
                                <% } %>
                                
                            </div>
                        </div>

                        <!-- imgs -->
                        <% if(items[4] != undefined ){%>
                            <% for(var j = 0 ; j < items[4].length ; j++) { %>
                                <% if (items[1][0].artiNum == items[4][j].artiNum){ %>
                                    <div class="wrapperCardbig card-img-bottom"
                                        style="background-image: url( '/userImg/<%= items[4][j].imgName %>'); ">
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <!-- 精選右邊上面的格子 -->
                <div class=" col-lg-5">
                    <div class="card shadow" onclick="location.href='/article/<%= items[1][1].artiNum %>'"
                        style="cursor:pointer;">

                        <div class="card-body">
                            <h3 class="card-title"><%= items[1][1].artiHead %>
                            </h3>
                            <p class="card-text wrapText"><%- items[1][1].artiCont %>
                            </p>
                            <p class="poster">
                                <%= items[1][1].memID %> 於 <%= items[1][1].artiDateTime %> 發佈
                            </p>

                            <!-- tag -->
                            <div class="tagDiv">
                                <% if(items[5] != undefined) { %>
                                    <% for (var j = 0 ; j < items[5].length ; j++) { %>
                                        <% if(items[5].artiNum == items[1][1].artiNum) { %>
                                            <button type="button" class="btn  tag">items[5][0].tagName</button>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>

                        <!-- imgs -->
                        <% if(items[4] != undefined ){ %>
                            <% for(var j = 0 ; j < items[4].length ; j++) { %>
                                <% if (items[1][1].artiNum == items[4][j].artiNum){ %>
                                    <div class="wrapperCardbig card-img-bottom"
                                        style="background-image: url( '/userImg/<%= items[4][j].imgName %>'); ">
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                    <!-- 精選右邊上面的格子結束 -->

                    <!-- 精選右邊下面的格子 -->
                    <div class="card shadow" onclick="location.href='/article/<%= items[1][2].artiNum %>'"
                        style="cursor:pointer;">

                        <div class="card-body">
                            <h3 class="card-title"><%= items[1][2].artiHead %>
                            </h3>
                            <p class="card-text wrapText">
                                <%- items[1][2].artiCont %>
                            </p>
                            <p class="poster">
                                <%= items[1][2].memID %> 於 <%= items[1][2].artiDateTime %> 發佈
                            </p>

                            <!-- tag -->
                            <div class="tagDiv">
                                <% if(items[5] != undefined) { %>
                                    <% for (var j = 0 ; j < items[5].length ; j++) { %>
                                        <% if(items[5].artiNum == items[1][2].artiNum) { %>
                                            <button type="button" class="btn  tag">items[5][0].tagName</button>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>

                         <!-- imgs -->
                         <% if(items[4] != undefined ) { %>
                            <% for(var j = 0 ; j < items[4].length ; j++) { %>
                                <% if (items[1][2].artiNum == items[4][j].artiNum){ %>
                                    <div class="wrapperCardbig card-img-bottom"
                                        style="background-image: url( '/userImg/<%= items[4][j].imgName %>'); ">
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>

                    </div>

                </div>
                <!-- 精選右邊下面的格子結束 -->




            </div>

            <div class="col-12 goArticleList">
                <button type="button" class="btn goArticle" onclick="location.href='/articleList'">
                    <h5>前往文章列表 <i class="fas fa-arrow-alt-circle-right"></i></h5>
                </button>

            </div>
        </div>
        </div>
    </section>
    <!-- 熱門文章區塊結束 -->



    <div class="container-fluid footer d-flex justify-content-center row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 aboutUs">
            <h6>關於我們：</h6>
            <p>我們身處在一個資料越來越多、意義越來越少的世代，源源不絕的資訊不僅讓人失去學習的熱忱，也錯過了許多生命中原有的樂趣。文藝富心彙整藝文相關資訊與提供討論的空間，讓使用者能在幾分鐘之內得到完善的資訊，也提供一個安靜的角落給使用者喘息休憩。
            </p>
            <h6>聯絡我們：</h6>
            <p>10546004@ntub.edu.tw</p>

        </div>

        <div class="col-lg-4 aboutUs">
            <h6>常見問題：</h6>
            <p>獎勵機制：在推薦底下的留言，我們會透過點擊次數以及愛心次數來篩選出最佳留言，將會寄送精美小獎品給最佳留言者。</p>
            <p>申報機制：只要對於我們的系統有任何建議，都可以透過申報通知系統管理員，讓文藝富心團隊能夠改進，提供給使用者更好的環境</p>
            <h6>文藝富心官方Line：<a href="https://line.me/R/ti/p/%40240qtneo"><img src="imgs/icon/lineIcon.png" alt="" style="height: 50px;"></a></h6>
        
        </div>
        <div class="col-lg-2">
        </div>

    </div>


    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>

    <a id="sentimentSectionHover" style="visibility: hidden;">心情專區</a>
    <a href="#" id="sentimentSection" data-toggle="modal" data-target="#sentimentSectionContainer">
        <!-- <i class="fas fa-kiss "></i> -->
        <img style="width:75%" src="../imgs/icon/bulb.png" alt="">
    </a>

    <!-- Modal -->
    <div class="modal fade" id="sentimentSectionContainer" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">心情專區</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div style="text-align: left">
                    <h6>「情緒，其實是一種能量，也是一種指引，<br/>
                        當它向浪潮一般撲襲而來，你能做的就是任它流淌而過，<br/>
                        只有感受過，你才得以在人生大海中繼續航行。」 ---- 留佩萱《療癒，從感受情緒開始》<br/>
                        文藝富心不將情緒區分好壞，我們認為每一種情緒都很重要，<br/>
                        我們會對文藝富心所有文本進行情感分析，你可以在這體會到不同的情緒。</h6>
                    <hr>
                    <div style="text-align: center">
                        <a href="#" id="positiveButton" class="chooseSection">惆悵、漣漪</a>
                        <a href="#" id="negativeButton" class="chooseSection">燦爛、溫暖</a>
                    </div>
                </div>
               <div class="sentimentContent">
                  <div id="positiveSection" style="display: none; word-wrap:break-word; overflow: hidden;">
                        1:的是改編自全法中學生指定重點讀物《我答應》，描述羅曼加里成為法國文學巨擘的傳奇故事，及他與母親之間至情至性動人回憶的《黎明的承諾》。
                    
                        黎明的承諾 背負著父母望子成龍，羅曼加里（皮耶尼內 飾）的人生可說是精彩非凡，在波蘭度過的貧困童年、法國尼斯陽光下的青少年時期，乃至於二次世界大戰時擔任飛行員，在非洲立下的彪炳戰功。
                        他為了成為一位偉大的男人與著名作家，艱辛嘗盡人生的酸甜苦辣，全都是為了他的母親妮娜（夏綠蒂甘絲柏格 飾）。這個可愛又特立獨行的婦人，對兒子的強烈母愛，令加里的人生充滿波折、熱情與
                        <img class="sentimentImg" src="imgs/testImgs/10.jpg">
                        只是，如此無止無盡的母愛，也終將成為他生命的負擔…這次要介紹的是改編自全法中學生指定重點讀物《我答應》，描述羅曼加里成為法國文學巨擘的傳奇故事，及他與母親之間至情至性動人回憶的《黎明的承諾》。
                       龍，望女成鳳的期望努力讀書，我想這或許是每個在考試風氣盛行的東方社會中長大的學生都曾有過的經驗。
                        
                        而比起我們的爸爸媽媽希望我們認真念書進而考上好大學的單純盼望，《黎明的承諾》中媽媽妮娜的要求又顯得更難以企及：我的兒子會成為法國大使，他會成為舉世知名的文豪，成為保家衛國的戰爭英雄。
                        也因此羅曼不只禮儀、寫作、槍法和戰技樣樣精通，為了得到母親的肯定，並讓對
                  </div>
                  <div id="negativeSection" style="display: none">
                        2:的是改編自全法中學生指定重點讀物《我答應》，描述羅曼加里成為法國文學巨擘的傳奇故事，及他與母親之間至情至性動人回憶的《黎明的承諾》。
                    
                        黎明的承諾 背負著父母望子成龍，羅曼加里（皮耶尼內 飾）的人生可說是精彩非凡，在波蘭度過的貧困童年、法國尼斯陽光下的青少年時期，乃至於二次世界大戰時擔任飛行員，在非洲立下的彪炳戰功。
                        他
                        黎明的承諾 背負著父母望子成龍，望女成鳳的期望努力讀書，我想這或許是每個在考試風氣盛行的東方社會中長大的學生都曾有過的經驗。
                        
                        而比起我們的爸爸媽媽希望我們認真念書進而考上好大學的單純盼望，《黎明的承諾》中媽媽妮娜的要求又顯得更難以企及：我的兒子會成為法國大使，他會成為舉世知名的文豪，成為保家衛國的戰爭英雄。
                        也因此羅曼不只禮儀、寫作、槍法和戰技樣樣精通，為了得到母親的肯定，並讓對
                  </div>
               </div>
            </div>
          </div>
        </div>
      </div>
      
      <div href="#" class="surpriseSection"  data-toggle="modal" data-target="#surpriseSectionContainer">
          <a class="surpriseHoverText" style="visibility: hidden">看看有沒有你喜歡的</a>
          <img src="imgs/icon/leaf45.png" alt="">
      </div>
    <!-- Modal -->
    <div class="modal fade" id="surpriseSectionContainer" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">心情專區</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div style="text-align: left">
                    <h6>「情緒，其實是一種能量，也是一種指引，<br/>
                        當它向浪潮一般撲襲而來，你能做的就是任它流淌而過，<br/>
                        只有感受過，你才得以在人生大海中繼續航行。」 ---- 留佩萱《療癒，從感受情緒開始》<br/>
                        文藝富心不將情緒區分好壞，我們認為每一種情緒都很重要，<br/>
                        我們會對文藝富心所有文本進行情感分析，你可以在這體會到不同的情緒。</h6>
                    <hr>
                    <div style="text-align: center">
                        <a href="#" id="positiveButton" class="chooseSection">惆悵、漣漪</a>
                        <a href="#" id="negativeButton" class="chooseSection">燦爛、溫暖</a>
                    </div>
                </div>
               <div class="sentimentContent">
                  <div id="positiveSection" style="display: none; word-wrap:break-word; overflow: hidden;">
                        1:的是改編自全法中學生指定重點讀物《我答應》，描述羅曼加里成為法國文學巨擘的傳奇故事，及他與母親之間至情至性動人回憶的《黎明的承諾》。
                    
                        黎明的承諾 背負著父母望子成龍，羅曼加里（皮耶尼內 飾）的人生可說是精彩非凡，在波蘭度過的貧困童年、法國尼斯陽光下的青少年時期，乃至於二次世界大戰時擔任飛行員，在非洲立下的彪炳戰功。
                        他為了成為一位偉大的男人與著名作家，艱辛嘗盡人生的酸甜苦辣，全都是為了他的母親妮娜（夏綠蒂甘絲柏格 飾）。這個可愛又特立獨行的婦人，對兒子的強烈母愛，令加里的人生充滿波折、熱情與
                        <img class="sentimentImg" src="imgs/testImgs/10.jpg">
                        只是，如此無止無盡的母愛，也終將成為他生命的負擔…這次要介紹的是改編自全法中學生指定重點讀物《我答應》，描述羅曼加里成為法國文學巨擘的傳奇故事，及他與母親之間至情至性動人回憶的《黎明的承諾》。
                       龍，望女成鳳的期望努力讀書，我想這或許是每個在考試風氣盛行的東方社會中長大的學生都曾有過的經驗。
                        
                        而比起我們的爸爸媽媽希望我們認真念書進而考上好大學的單純盼望，《黎明的承諾》中媽媽妮娜的要求又顯得更難以企及：我的兒子會成為法國大使，他會成為舉世知名的文豪，成為保家衛國的戰爭英雄。
                        也因此羅曼不只禮儀、寫作、槍法和戰技樣樣精通，為了得到母親的肯定，並讓對
                  </div>
                  <div id="negativeSection" style="display: none">
                        2:的是改編自全法中學生指定重點讀物《我答應》，描述羅曼加里成為法國文學巨擘的傳奇故事，及他與母親之間至情至性動人回憶的《黎明的承諾》。
                    
                        黎明的承諾 背負著父母望子成龍，羅曼加里（皮耶尼內 飾）的人生可說是精彩非凡，在波蘭度過的貧困童年、法國尼斯陽光下的青少年時期，乃至於二次世界大戰時擔任飛行員，在非洲立下的彪炳戰功。
                        他
                        黎明的承諾 背負著父母望子成龍，望女成鳳的期望努力讀書，我想這或許是每個在考試風氣盛行的東方社會中長大的學生都曾有過的經驗。
                        
                        而比起我們的爸爸媽媽希望我們認真念書進而考上好大學的單純盼望，《黎明的承諾》中媽媽妮娜的要求又顯得更難以企及：我的兒子會成為法國大使，他會成為舉世知名的文豪，成為保家衛國的戰爭英雄。
                        也因此羅曼不只禮儀、寫作、槍法和戰技樣樣精通，為了得到母親的肯定，並讓對
                  </div>
               </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="/javascripts/aos.js"></script>
    <script src="/javascripts/active.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/navbar.js"></script>


</body>

</html>