<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link type="text/css" href="https://rawgit.com/elrumordelaluz/csshake/master/dist/csshake.min.css">
    <link href="/css/headerIndex.css" rel="stylesheet" type="text/css" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/aos.css" />


    <title>文藝富心</title>
</head>

<body data-spy="scroll" data-target="#list-example" data-offset="70" class="scrollspy-example">

    <!-- navbar -->
    <div id="header"></div>

    <!-- 封面區塊 -->
    <div class="banner" id="banner">
        <a id="goDown"> <i class="fas fa-chevron-circle-down"></i>
        </a>
        <div id="block" class="block"></div>
    </div>
    <!-- 封面區塊結束 -->

    <!-- Portfolio Section -->
    <section id="portfolio">
        <center>
            <h2>本週精選推薦</h2>
            <hr class="highlight">
        </center>

        <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend">

            <!-- 推薦 -->
            <% for(var i = 0 ; i<items[0].length ; i ++) { %>
            <div class="wrapper col-12  col-lg-4" style="background-image: url('<%= items[0][i].imgName%>');"
                onclick="location.href='/oneRecommend/<%= items[0][i].recomNum %>'" data-aos="fade-right">

                <a class="portfolio-box" href="/oneRecommend/<%= items[0][i].recomNum %>">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p><%= items[0][i].recomClass %></p>
                        </div>
                        <div class="project-name">
                            <p class="title"><%= items[0][i].recomHead %></p>
                            <p class="content fourRecommend"><%- items[0][i].recomCont %>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <% if( (i+1) %2 == 0){ %>
            <div class="w-100"></div>
            <% } %>
            <% } %>
            <!-- 推薦結束 -->
        </div>
    </section>
    <div class="sentimentSection container-fluid d-flex justify-content-center" id="sentimentSection">
        <div class="row col-sm-8">
            <div class="sentimentTitle col-lg-12">
                <center>
                    <h2>情緒專區</h2>
                    <hr class="highlight">
                </center>
                <h6>「情緒，其實是一種能量，也是一種指引，<br />
                    當它向浪潮一般撲襲而來，你能做的就是任它流淌而過，<br />
                    只有感受過，你才得以在人生大海中繼續航行。」 ---- 留佩萱《療癒，從感受情緒開始》<br />
                    文藝富心不將情緒區分好壞，我們認為每一種情緒都很重要，<br />
                    我們會對文藝富心所有文本進行情感分析，你可以在這體會到不同的情緒。</h6>
                <hr>
            </div>
            <div class="col-lg-6 no-gutters cardStyle">
                <h5 style="font-weight: bold;"><i class="fas fa-caret-right"
                        style="margin:0 0.5em; color: #ffad33; font-size: 28px;"></i>燦爛、溫暖</h5>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:bold;"><%- items[6][0].artiHead %></h5>
                        <hr>
                        <p class="card-text positive"><%- items[6][0].artiCont %> </p>
                        <a href="/article/<%- items[6][0].artiNum %>" class="btn btn-light float-right">進入文章查看更多</a>
                    </div>
                    <% if (items[6][0].imgName) { %>
                    <div class="wrapperCardbig card-img-bottom"
                        style="background-image: url('<%= items[6][0].imgName %>')">
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-6 no-gutters cardStyle">
                <h5 style="font-weight: bold;"><i class="fas fa-caret-right"
                        style="margin:0 0.5em; color: #1268a2; font-size: 28px;"></i>惆悵、漣漪</h5>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:bold;"><%- items[7][0].artiHead %></h5>
                        <hr>
                        <p class="card-text negative"><%- items[7][0].artiCont %></p>
                        <a href="/article/<%- items[7][0].artiNum %>" class="btn btn-light float-right">進入文章查看更多</a>
                    </div>
                    <% if (items[7][0].imgName) { %>
                    <div class="wrapperCardbig card-img-bottom"
                        style="background-image: url('<%= items[7][0].imgName %>'); ">
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- 熱門文章區塊 -->

    <section id="hotArticle">
        <div class="container hotArticle">
            <center>
                <h2>大家都在讀</h2>
                <hr class="highlight">
            </center>
            <div class="row">
                <div class="col-lg-7">
                    <div class="card  shadow" onclick="location.href='/article/<%= items[1][0].artiNum %>'"
                        style="cursor:pointer;">
                        <div class="card-body">
                            <h3 class="card-title"><%= items[1][0].artiHead %>
                            </h3>
                            <div class="card-text wrapBigHotSectionText">
                                <p class="card-text">
                                    <%- items[1][0].artiCont %>
                                </p>
                            </div>

                            <p class="poster">
                                <%= items[1][0].memName %> 於 <%= items[1][0].artiDateTime %>發佈
                            </p>

                            <!-- tag -->
                            <div class="tagDiv">
                                <% if(items[5] != undefined) { %>
                                <% for (var j = 0 ; j < items[5].length ; j++) { %>
                                <% if(items[5][j].artiNum == items[1][0].artiNum) { %>
                                <button type="button" class="btn  tag"><%= items[5][j].tagName %></button>
                                <% } %>
                                <% } %>
                                <% } %>

                            </div>
                        </div>

                        <!-- imgs -->
                        <% if(items[3] != undefined ){%>
                        <% for(var j = 0 ; j < items[3].length ; j++) { %>
                        <% if (items[1][0].artiNum == items[3][j].artiNum){ %>
                        <div class="wrapperCardbig card-img-bottom"
                            style="background-image: url( '<%= items[3][j].imgName %>'); ">
                        </div>
                        <% break ;%>
                        <% } %>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <!-- 精選右邊上面的格子 -->
                <div class=" col-lg-5">
                    <div class="card shadow" onclick="location.href='/article/<%= items[1][1].artiNum %>'"
                        style="cursor:pointer;">

                        <div class="card-body">
                            <h3 class="card-title"><%= items[1][1].artiHead %>
                            </h3>
                            <div>
                                <p class="card-text wrapText"><%- items[1][1].artiCont %>
                                </p>
                            </div>
                            <p class="poster">
                                <%= items[1][1].memName %> 於 <%= items[1][1].artiDateTime %> 發佈
                            </p>

                            <!-- tag -->
                            <div class="tagDiv">
                                <% if(items[5] != undefined) { %>
                                <% for (var j = 0 ; j < items[5].length ; j++) { %>
                                <% if(items[5][j].artiNum == items[1][1].artiNum) { %>
                                <button type="button" class="btn  tag"><%= items[5][j].tagName %></button>
                                <% } %>
                                <% } %>
                                <% } %>
                            </div>
                        </div>

                        <!-- imgs -->
                        <% if(items[3] != undefined ){ %>
                        <% for(var j = 0 ; j < items[3].length ; j++) { %>
                        <% if (items[1][1].artiNum == items[3][j].artiNum){ %>
                        <div class="wrapperCardSmall card-img-bottom"
                            style="background-image: url( '<%= items[3][j].imgName %>'); ">
                        </div>
                        <% break ;%>
                        <% } %>
                        <% } %>
                        <% } %>
                    </div>
                    <!-- 精選右邊上面的格子結束 -->

                    <!-- 精選右邊下面的格子 -->
                    <div class="card shadow" onclick="location.href='/article/<%= items[1][2].artiNum %>'"
                        style="cursor:pointer;">

                        <div class="card-body">
                            <h3 class="card-title"><%= items[1][2].artiHead %>
                            </h3>
                            <div>
                                <p class="card-text wrapText"><%- items[1][2].artiCont %>
                                </p>
                            </div>

                            <p class="poster">
                                <%= items[1][2].memName %> 於 <%= items[1][2].artiDateTime %> 發佈
                            </p>

                            <!-- tag -->
                            <div class="tagDiv">
                                <% if(items[5] != undefined) { %>
                                <% for (var j = 0 ; j < items[5].length ; j++) { %>
                                <% if(items[5][j].artiNum == items[1][2].artiNum) { %>
                                <button type="button" class="btn  tag"><%= items[5][j].tagName %></button>
                                <% } %>
                                <% } %>
                                <% } %>
                            </div>
                        </div>

                        <!-- imgs -->
                        <% if(items[3] != undefined ) { %>
                        <% for(var j = 0 ; j < items[3].length ; j++) { %>
                        <% if (items[1][2].artiNum == items[3][j].artiNum){ %>
                        <div class="wrapperCardSmall card-img-bottom"
                            style="background-image: url( '<%= items[3][j].imgName %>'); ">
                        </div>
                        <% break %>
                        <% } %>
                        <% } %>
                        <% } %>

                    </div>

                </div>
                <!-- 精選右邊下面的格子結束 -->

            </div>

            <div class="col-12 goArticleList">
                <button type="button" class="btn goArticle" onclick="location.href='/articleList/1'">
                    <h5>前往討論區看更多 <i class="fas fa-arrow-alt-circle-right"></i></h5>
                </button>

            </div>
        </div>
    </section>
    <!-- 熱門文章區塊結束 -->

    <div class="container-fluid footer d-flex justify-content-center row" id="footer">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 aboutUs">
            <h5>關於我們：</h5>
            <p>我們身處在一個資料越來越多、意義越來越少的世代，源源不絕的資訊不僅讓人失去學習的熱忱，也錯過了許多生命中原有的樂趣。文藝富心彙整藝文相關資訊與提供討論的空間，讓使用者能在幾分鐘之內得到完善的資訊，也提供一個安靜的角落給使用者喘息休憩。
            </p>
            <h5>聯絡我們：</h5>
            <p>LiteraryArts@gmail.com</p>

        </div>

        <div class="col-lg-4 aboutUs">
            <h5>常見問題：</h5>
            <p>獎勵機制：在推薦底下的留言，我們會透過點擊次數以及愛心次數來篩選出最佳留言，將會寄送精美小獎品給最佳留言者。</p>
            <p>申報機制：只要對於我們的系統有任何建議，都可以透過申報通知系統管理員，讓文藝富心團隊能夠改進，提供給使用者更好的環境</p>
            <h5>文藝富心官方Line：<a href="https://line.me/R/ti/p/%40240qtneo"><img src="imgs/icon/lineIcon.png" alt=""
                        style="height: 50px;"></a></h5>

        </div>
        <div class="col-lg-2">
        </div>

    </div>
    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>

    <div href="#" class="surpriseSection" style="cursor: pointer;" data-toggle="modal"
        data-target="#surpriseSectionContainer">
        <a class="surpriseHoverText" style="display:none">看看有沒有你喜歡的</a>
        <img src="imgs/icon/leaf45.png" alt="">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="surpriseSectionContainer" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalScrollableTitle">你可能會想看</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="word-break: break-all;">
                    <div style="text-align: left">
                    </div>
                    <div class="memberPrefer">
                        <!-- 文章 -->
                        <% if(items[10][0].artiCont != undefined) { %>
                        <h5><%- items[10][0].artiHead %></h5>
                        <hr>
                        <%- items[10][0].artiCont %>
                        <hr>
                        <button class="btn btn-light float-right" style="margin-right:0.75em"
                            onclick="location.href='/article/<%- items[10][0].artiNum %>'">進入文章查看更多</button>
                        <% } else if(items[10][0].recomCont != undefined) { %>
                        <h5><%- items[10][0].recomHead %></h5>
                        <hr>
                        <%- items[10][0].recomCont %>
                        <hr>
                        <button class="btn btn-light float-right" style="margin-right:0.75em"
                            onclick="location.href='/oneRecommend/<%- items[10][0].recomNum %>'">進入文章查看更多</button>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="list-example" class="list-group scrollSpy">
        <a class="list-group-item list-group-item-action s1" href="#banner"></a>
        <a class="list-group-item list-group-item-action s2" href="#portfolio"></a>
        <a class="list-group-item list-group-item-action s3" href="#sentimentSection"></a>
        <a class="list-group-item list-group-item-action s4" href="#hotArticle"></a>
        <a class="list-group-item list-group-item-action s5" href="#footer"></a>
    </div>
    <div class="scrollSpyText">
        <p class="s1Text" style="visibility: hidden;">文藝富心</p>
        <p class="s2Text" style="visibility: hidden;">本週推薦</p>
        <p class="s3Text" style="visibility: hidden;">情緒專區</p>
        <p class="s4Text" style="visibility: hidden;">熱門文章</p>
        <p class="s5Text" style="visibility: hidden;">關於我們</p>
    </div>
    <!-- <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example"> -->
    <!-- <h4 id="list-item-1">Item 1</h4>
        <p>...</p>
        <h4 id="list-item-2">Item 2</h4>
        <p>...</p>
        <h4 id="list-item-3">Item 3</h4>
        <p>...</p> -->
    <!-- <h4 id="list-item-4">Item 4</h4>
        <p>Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item
            1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item
            1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item
            1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item
            1Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1</p> -->
    <!-- </div> -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="/javascripts/aos.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="/javascripts/active.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/navbar.js"></script>
</body>

</html>