<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/articleList.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- ============================================= -->
    <!-- --------------- navbar ---------------------- -->
    <!-- ============================================= -->
    <div class="header">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light fixed-top ">
            <a class="nav-link" href="/">
                <img class="nav-item" href="/" src="/imgs/logo.png" width="30px" height="30px " style="opacity:0.8"
                    alt="">
                <a href="/" class="navTitle">文藝富心</a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- 如果帳號不是管理員則不顯示 -->
                    <% if(myArtiClass[7] == undefined){ %>
                    <li class="nav-item" style="display: none">
                        <a class="nav-link" href="recommendPost.html">
                            新增推薦</a>
                    </li>
                    <!-- 如果帳號是一般會員 -->
                    <% }else {%>
                    <li class="nav-item">
                        <a class="nav-link" href="recommendPost.html">
                            新增推薦</a>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link " href="/">首頁 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/notify">
                            <i class="fas fa-bell" style="color:white;"></i>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/recommendlist">
                            推薦</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/articleList">
                            文章</a>
                    </li>
                    <li id="dropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="collectionArticle.html" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            收藏
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/collection/recommend">推薦收藏</a>
                            <a class="dropdown-item" href="/collection/article">文章收藏</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navReport" style="cursor:pointer;">申報</a>
                    </li>
                    <!-- 已經登入的話 login 隱藏 -->
                    <% if(myArtiClass[6][0] != undefined){ %>
                    <li class="nav-item" style="display: none">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                    <!-- 如果還沒登入 login 顯示 -->
                    <% }else {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                    <% } %>
                    <!-- 已經登入的話"會員"下拉式清單 顯示 -->
                    <% if(myArtiClass[6][0] != undefined){ %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="memberManage.html" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            會員
                        </a>
                        <div class="dropdown-menu member dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/member/memberManage">會員資料</a>
                            <a class="dropdown-item" href="/member/articleManage">文章管理</a>
                            <a class="dropdown-item" href="/logOut">登出</a>
                        </div>
                    </li>
                    <!-- 如果還沒登入則隱藏"會員"清單 -->
                    <% }else {%>
                    <li class="nav-item dropdown" style="display: none">
                        <a class="nav-link dropdown-toggle" href="memberManage.html" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            會員
                        </a>
                        <div class="dropdown-menu member dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/member/memberManage">會員資料</a>
                            <a class="dropdown-item" href="/member/articleManage">文章管理</a>
                            <a class="dropdown-item" href="/logOut">登出</a>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container position-fixed col-lg-8 report" id="report">
        <div id="x"><i class="far fa-times-circle"></i>
        </div>
        <div class="form">
            <form class="report" action="/report" method="POST" data-aos="zoom-out-right">
                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-hands-helping"></span></span>
                    <textarea class="input-with-icon report" name="reportReason" placeholder="輸入舉報原因"></textarea>
                </div>
                <button type="submit" class="btn btn-danger report">送出</button>
            </form>
        </div>
    </div>

    <!-- ============================================= -->
    <!-- ------------- navbar end -------------------- -->
    <!-- ============================================= -->


    <!-- 文章列表區塊 -->
    <section id="articleList">
        <div class="container-fluid article">
            <center>
                <h3>我的文章管理</h3>
                <hr class="highlight">

            </center>

            <div class="row d-flex justify-content-center  no-gutters">
                <div class="search col-lg-5 mx-auto">
                    <!-- Search -->
                    <form class="form-inline d-flex">
                        <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 search col-sm-9"
                            id="search" placeholder="輸入欲搜尋之關鍵字">
                        <button type="submit" class="search btn-primary mx-auto">搜尋</button>
                    </form>
                    <!-- Search End -->
                </div>

                <div class="col-12 mb-3 col-lg-8 ">
                    <!-- list -->
                    <% for(var i = 0; i < myArtiClass[0].length ; i++) { %>
                    <div class="card shadow list " style="cursor:pointer; ">
                        <div class="card-body " onclick="location.href='article.html'">
                            <div class="poster">
                                <div class="name">
                                    <p><%= myArtiClass[0][i].memID %> 於 <%= myArtiClass[0][i].artiDateTime %>發表</p>
                                </div>
                                <hr>
                            </div>
                            <h3 class="card-title "><%- myArtiClass[0][i].artiHead %>
                            </h3>
                            <p class="card-text "><%- myArtiClass[0][i].artiCont %>
                            </p>

                            <div class="tagDiv col-lg-12 ">
                                <% for(var j = 0; j < myArtiClass[3][i].length ; j++) { %>
                                <button type="button" class="btn  tag"><%= myArtiClass[3][i][j] %></button>
                                <% } %>
                            </div>
                        </div>
                        <% if(myArtiClass[8][myArtiClass[0][i].artiNum]){%>
                        <div class="wrapperCard card-img-top "
                            style="background-image: url( '/userImg/<%= myArtiClass[8][myArtiClass[0][i].artiNum] %>'); ">
                        </div>
                        <% }%>
                

                        <!-- info -->
                        <div class="info">
                            <!-- 愛心按鈕 -->
                            <button type="button" id=<%= "LikeUnLogIn" + myArtiClass[0][i].artiNum %>
                                class="btn postInfo" onclick="location.href='/logIn'"><i class="fab fa-gratipay"></i>
                                <a><%= myArtiClass[1][i].count %></a></button>
                            <button type="button" id=<%="addLike" + myArtiClass[0][i].artiNum %> class="btn postInfo"
                                onclick=<%= "addLike(" + myArtiClass[0][i].artiNum + ")" %>>
                                <i class="fab fa-gratipay"></i><a id=<%= "addLikeCount" + myArtiClass[0][i].artiNum %>>
                                    <%= myArtiClass[1][i].count %> </a> </button>
                            <button type="button" id=<%= "delLike" + myArtiClass[0][i].artiNum %> class="btn postInfo"
                                style="color:#c93737" onclick=<%= "delLike(" + myArtiClass[0][i].artiNum + ")" %>>
                                <i class="fab fa-gratipay"></i><a id=<%= "delLikeCount" + myArtiClass[0][i].artiNum %>>
                                    <%= myArtiClass[1][i].count %></a></button>
                            <!-- 如果沒登入 -->
                            <% if(myArtiClass[6][0] == undefined) {%>
                            <script type="text/javascript">
                                document.getElementById("LikeUnLogIn" + "<%= myArtiClass[0][i].artiNum %>").style.display = "inline";
                                document.getElementById("addLike" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("delLike" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                            </script>
                            <!-- 如果有登入及沒按過愛心       -->
                            <% }else if(myArtiClass[5][i] == 1 && myArtiClass[6][0] != undefined ) {%>
                            <script type="text/javascript">
                                document.getElementById("addLike" + "<%= myArtiClass[0][i].artiNum %>").style.display = "inline";
                                document.getElementById("LikeUnLogIn" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("delLike" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                            </script>
                            <!-- 如果有登入及按過愛心 -->
                            <% }else if(myArtiClass[5][i] == 0 && myArtiClass[6][0] != undefined ) {%>
                            <script type="text/javascript">
                                document.getElementById("delLike" + "<%= myArtiClass[0][i].artiNum %>").style.display = "inline";
                                document.getElementById("addLike" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("LikeUnLogIn" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                            </script>
                            <% }else {%>
                            <script type="text/javascript">
                                document.getElementById("delLike" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("addLike" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("LikeUnLogIn" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                            </script>
                            <% } %>

                            <!-- 留言數量按鈕 -->
                            <button type="button" class="btn postInfo"><i
                                    class="fas fa-comment-dots"></i><a><%= myArtiClass[2][i].count %></a></button>

                            <!-- 收藏按鈕 -->
                            <button type="button" id=<%= "unLogIn" + myArtiClass[0][i].artiNum %> class="btn postInfo"
                                onclick="location.href='/logIn'">
                                <i class="far fa-bookmark"></i></button>
                            <button type="button" id=<%=  "addColle" + myArtiClass[0][i].artiNum %> class="btn postInfo"
                                onclick=<%= "addColle(" + myArtiClass[0][i].artiNum + ")" %>>
                                <i class="far fa-bookmark"></i></button>
                            <button type="button" id=<%= "delColle" + myArtiClass[0][i].artiNum %> class="btn postInfo"
                                style="color:#c93737" onclick=<%= "delColle(" + myArtiClass[0][i].artiNum + ")" %>>
                                <i class=" far fa-bookmark"></i></button>

                            <!--  收藏按鈕控制 -->
                            <% if(myArtiClass[6][0] == undefined) {%>
                            <script type="text/javascript">
                                document.getElementById("unLogIn" + "<%= myArtiClass[0][i].artiNum %>").style.display = "inline";
                                document.getElementById("addColle" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("delColle" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                console.log("1");
                            </script>
                            <% }else if(myArtiClass[4][i] == 1 && myArtiClass[6][0] != undefined ) {%>
                            <script type="text/javascript">
                                document.getElementById("addColle" + "<%= myArtiClass[0][i].artiNum %>").style.display = "inline";
                                document.getElementById("unLogIn" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("delColle" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                console.log("2");
                            </script>
                            <% }else if(myArtiClass[4][i] == 0 && myArtiClass[6][0] != undefined ) {%>
                            <script type="text/javascript">
                                document.getElementById("delColle" + "<%= myArtiClass[0][i].artiNum %>").style.display = "inline";
                                document.getElementById("addColle" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("unLogIn" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                console.log("3");
                            </script>
                            <% }else {%>
                            <script type="text/javascript">
                                document.getElementById("delColle" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("addColle" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                document.getElementById("unLogIn" + "<%= myArtiClass[0][i].artiNum %>").style.display = "none";
                                console.log("3");
                            </script>
                            <% } %>

                            <!-- 收藏 ajax script -->
                            <script>
                                //新增收藏
                                function addColle(artiNum) {
                                    collection(artiNum);
                                    $.ajax({
                                        url: '/addCollection',
                                        type: 'POST',
                                        dataType: 'text',
                                        data: { "collectionType": "article", "artiNum": artiNum },
                                        success: function (res) {
                                            console.log("yes", JSON.stringify(res));
                                        },
                                        error: function (res) {
                                            console.log("失敗", JSON.stringify(res));
                                        }
                                    });
                                };
                                //刪除收藏
                                function delColle(artiNum) {
                                    // console.log("前端刪除訊息");
                                    cancelCollection(artiNum);
                                    $.ajax({
                                        url: '/delCollection',
                                        type: 'POST',
                                        dataType: 'text',
                                        data: { "collectionType": "article", "artiNum": artiNum },
                                        success: function (res) {
                                            console.log("yes", JSON.stringify(res));
                                        },
                                        error: function (res) {
                                            console.log("失敗", JSON.stringify(res));
                                        }
                                    });
                                };
                                //點收藏後改變屬性
                                function collection(artiNum) {
                                    document.getElementById("delColle" + artiNum).style.display = "inline";
                                    document.getElementById("LikeUnLogIn" + artiNum).style.display = "none";
                                    document.getElementById("addColle" + artiNum).style.display = "none";
                                }
                                //取消收藏後改變屬性
                                function cancelCollection(artiNum) {
                                    document.getElementById("addColle" + artiNum).style.display = "inline";
                                    document.getElementById("LikeUnLogIn" + artiNum).style.display = "none";
                                    document.getElementById("delColle" + artiNum).style.display = "none";
                                }

                            </script>
                            <!-- 愛心 ajax script -->
                            <script>
                                //新增愛心
                                function addLike(artiNum) {
                                    $.ajax({
                                        url: '/addLike',
                                        type: 'POST',
                                        dataType: 'text',
                                        data: { "likeType": "article", "artiNum": artiNum },
                                        success: function (res) {
                                            console.log("yes", JSON.stringify(res));
                                            likeCount(artiNum);
                                            like(artiNum);
                                        },
                                        error: function (res) {
                                            console.log("失敗", res);

                                        }
                                    });

                                };
                                //刪除愛心
                                function delLike(artiNum) {
                                    // console.log("前端刪除訊息");     
                                    $.ajax({
                                        url: '/delLike',
                                        type: 'POST',
                                        dataType: 'text',
                                        data: { "likeType": "article", "artiNum": artiNum },
                                        success: function (res) {
                                            console.log("yes", JSON.stringify(res));
                                            likeCount(artiNum);
                                            cancelLike(artiNum);
                                        },
                                        error: function (res) {
                                            console.log("刪除失敗", JSON.stringify(res));
                                        }
                                    });

                                };
                                //點愛心後改變屬性
                                function like(artiNum) {
                                    console.log("like", artiNum);
                                    document.getElementById("delLike" + artiNum).style.display = "inline";
                                    document.getElementById("LikeUnLogIn" + artiNum).style.display = "none";
                                    document.getElementById("addLike" + artiNum).style.display = "none";
                                }
                                //取消愛心後改變屬性
                                function cancelLike(artiNum) {
                                    document.getElementById("addLike" + artiNum).style.display = "inline";
                                    document.getElementById("LikeUnLogIn" + artiNum).style.display = "none";
                                    document.getElementById("delLike" + artiNum).style.display = "none";
                                }
                                function likeCount(artiNum) {
                                    $.ajax({
                                        url: '/likeCount',
                                        type: 'POST',
                                        dataType: 'JSON',
                                        data: { "likeType": "article", "artiNum": artiNum },
                                        success: function (res) {
                                            // console.log("yes", reponse.responseText);
                                            console.log("yes", JSON.stringify(res));
                                            document.getElementById("addLikeCount" + artiNum).innerHTML = JSON.stringify(res);
                                            document.getElementById("delLikeCount" + artiNum).innerHTML = JSON.stringify(res);
                                        },
                                        error: function (res) {
                                            console.log("no", JSON.stringify(res));
                                        }

                                    });
                                }
                            </script>
                        </div>
                        <!-- info結束 -->

                    </div>
                    <div class="w-100"></div>
                    <% } %>
                    <!-- listEnd -->
                </div>
            </div>
        </div>
    </section>
    <!-- 文章列表區塊結束 -->

    <div class=" buttons fixed-bottom  d-flex justify-content-center align-middle">
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/articleManage/movie'">電影類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/articleManage/music'">音樂類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/articleManage/book'">書籍類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/articleManage/exhibition'">展覽類</button>
        <button type="button " class="btn btn-secondary footer"
            onclick="location.href='/member/articleManage'">全部</button>
        <button type="button" class="btn postButton" onclick="location.href='/articleList/post'">
            <i class="fas fa-edit"></i>發文</button>

    </div>

    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/javascripts/active.js"></script>
</body>

</html>