<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/article.css" rel="stylesheet" type="text/css" />

    <title>文藝富心</title>
</head>

<body>

    <script src="/javascripts/header.js"></script>



    <!-- 使用者發文 -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 content shadow post postArticle">
                <p class="poster">
                    <a class="floorTag text-break ">樓主</a> 管理員 於 <%= items[0][0].recomDateTime %>發布
                </p>
                <hr />

                <h3><%= items[0][0].recomHead %></h3>
                <hr />

                <p class="content"> <%= items[0][0].recomCont %>
                </p>
                <div class="tagDiv col-lg-12 ">
                    <% for (var i = 0 ; i< items[5][0].length ; i++) { %>
                    <button type="button" class="btn btn-info tag"><%= items[5][0][i] %></button>
                    <% } %>
                </div>
                <hr class="info">
                <!-- info -->
                <div class="info">
                    <button type="button" class="btn postInfo"><i
                            class="fab fa-gratipay"></i><a><%= items[2][0].count %></a></button>
                    <button type="button" class="btn postInfo"><i
                            class="fas fa-comment-dots"></i><a><%= items[2][0].count %></a></button>

                    <!-- 收藏按鈕 -->
                    <!-- 收藏按鈕 -->
                    <button type="button" id="unLogIn" class="btn postInfo" style="color:yellow;"
                        onclick="location.href='/logIn'">
                        <i class="far fa-bookmark"></i></button>

                    <button type="button" id="addColle" class="btn postInfo" style="color:blue;"
                        onclick=<%= "addColle(" + items[0][0].recomNum + ")" %>>
                        <i class="far fa-bookmark"></i></button>

                    <button type="button" id="delColle" class="btn postInfo" style="color:red;"
                        onclick=<%= "delColle(" + items[0][0].recomNum + ")" %>>
                        <i class="far fa-bookmark"></i></button>

                    <!-- 檢舉按鈕 -->
                    <button type="button" class="btn report">檢舉</button>

                    <!-- 如果沒登入 -->
                    <% if(items[7][0] == undefined) {%>
                    <script type="text/javascript">
                        document.getElementById("unLogIn").style.display = "inline";
                        document.getElementById("addColle").style.display = "none";
                        document.getElementById("delColle").style.display = "none";
                    </script>

                    <!-- 如果有登入及沒按過收藏       -->
                    <% }else if(items[6][0] == 1 && items[7][0] != undefined ) {%>
                    <script type="text/javascript">
                        document.getElementById("addColle").style.display = "inline";
                        document.getElementById("unLogIn").style.display = "none";
                        document.getElementById("delColle").style.display = "none";
                    </script>
                    <!-- 如果有登入及按過收藏 -->
                    <% }else {%>
                    <script type="text/javascript">
                        document.getElementById("delColle").style.display = "inline";
                        document.getElementById("addColle").style.display = "none";
                        document.getElementById("unLogIn").style.display = "none";
                    </script>
                    <% } %>

                    <script>
                        //新增收藏
                        function addColle(recomNum) {
                            collection();
                            $.ajax({
                                url: '/addCollection',
                                type: 'POST',
                                dataType: 'JSON',
                                data: { "collectionType": "recommend", "recomNum": recomNum },
                                success: function (data) {
                                    console.log("yes", data.statusText);
                                },
                                error: function (data) {
                                    console.log("失敗", data);
                                }
                            });
                        };
                        //刪除收藏
                        function delColle(recomNum) {
                            // console.log("前端刪除訊息");
                            cancelCollection();
                            $.ajax({
                                url: '/delCollection',
                                type: 'POST',
                                dataType: 'JSON',
                                data: { "collectionType": "recommend", "recomNum": recomNum },
                                success: function (data) {
                                    console.log("yes", data.statusText);
                                },
                                error: function (data) {
                                    console.log("失敗", data);
                                }
                            });
                        };
                        //點收藏後改變屬性
                        function collection() {
                            document.getElementById("delColle").style.display = "inline";
                            document.getElementById("unLogIn").style.display = "none";
                            document.getElementById("addColle").style.display = "none";
                        }
                        //取消收藏後改變屬性
                        function cancelCollection() {
                            document.getElementById("addColle").style.display = "inline";
                            document.getElementById("unLogIn").style.display = "none";
                            document.getElementById("delColle").style.display = "none";
                        }
                    </script>
                </div>
                <!-- info結束 -->
            </div>
        </div>
        <!-- 使用者發文結束' -->

        <center>
            <h1>文章留言</h1>

            <hr class="separate">
        </center>

        <!-- 文章留言 -->
        <% for(var j=0; j<items[1].length; j++) {%>
        <div class="row justify-content-center">
            <div class="col-lg-8 content shadow">
                <!-- 文章留言 -->
                <div class="message">
                    <!-- info -->
                    <div><button type="button info" class="btn info"><i
                                class="fab fa-gratipay"></i><a><%= items[4][j].count %></a></button>
                    </div>

                    <div class="poster">
                        <div class="floor"><a class="floorTag text-break "><%= j+1 %> 樓</a> <a><%= items[1][j].memID %>
                                於
                                <%= items[1][j].recomMessDateTime %>留言</a> </div>
                        <hr class="separate">

                    </div>

                    <!-- info結束 -->

                    <p class="content"> <%= items[1][j].recomMessCont %>
                    </p>
                    <button type="button" class="btn report">檢舉</button>
                </div>
            </div>
        </div>
        <% } %>
        <!-- 文章留言結束 -->

        <!-- replying -->
        <div class="row replying justify-content-center" id="reply">
            <div class="col-lg-8 content shadow">
                <div class="input">
                    <textarea class="input" col="40" id="text" placeholder="輸入您要回覆的內容"></textarea>
                </div>
                <form>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
                <a href="#" class="btn btn-secondary btn-lg active float-md-right" role="button"
                    aria-pressed="true">發佈留言</a>

            </div>
        </div>
        <!-- replying end -->

        <div class="row d-flex justify-content-center">
            <div class=" buttons fixed-bottom  d-flex justify-content-center align-middle">

                <button type="button" class="btn btn-secondary  footer-item" id="goBottom">去留言</button>
                <button type="button" class="btn btn-secondary  footer-item">愛心</button>
                <button type="button" class="btn btn-secondary  footer-item">收藏</button>

            </div>
        </div>

        <a href="#" id="gotop">
            <i class="fa fa-angle-up"></i>
        </a>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
            crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
            crossorigin="anonymous "></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
            crossorigin="anonymous "></script>
        <script src="/javascripts/active.js "></script>
</body>

</html>