<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/recommend.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>

    <center>
        <h3>推薦列表</h3>
        <hr class="highlight">
    </center>


    <div class="d-flex justify-content-center" style="margin-bottom:1.5em;">
        <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/movie'">電影類</button>
        <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/music'">音樂類</button>
        <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/book'">書籍類</button>
        <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/exhibition'">展覽類</button>
        <button type="button" class="btn btn-secondary footer" onclick="location.href='/recommendList'">全部</button>
    </div>

    <!-- Portfolio Section -->
    <section id="portfolio">

            <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend">
                <!-- 推薦開始 -->
                <% for(var i = 0 ; i<recom[0].length ; i++){ %>

                <% isImg = false %>
                <!-- 如果有抓到圖片 -->
                <% if(recom[3] != undefined) { %>
                    <% for(var j = 0 ; j<recom[3].length ; j++ ) { %>
                        <% if(recom[0][i].recomNum == recom[3][j].recomNum){ %>
                            <div class="wrapper col-12  col-lg-2" 
                            style="background-image: url('<%= recom[3][j].imgName %>');">
                            <% isImg = true %>
                            <% break ;%>
                        <% } %>
                    <% } %>
                <% } %>
                <!-- 如果沒抓到半張圖片 -->
                <% if(isImg == false) { %>
                    <div class="wrapper col-12 col-lg-2">
                <% } %>
                    <a class="portfolio-box" href="/oneRecommend/<%= recom[0][i].recomNum %>">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                <p><%= recom[0][i].recomClass %> </p>
                            </div>
                            <div class="project-name">
                                <p class="title"><%= recom[0][i].recomHead %> </p>
                                <p class="content wrapText"><%- recom[0][i].recomCont %>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <% if( (i+1) % 4 == 0){ %>
                <div class="w-100"></div>
                <% } %>
                <% } %>
                <!-- 推薦結束 -->
            </div>
        </section>

    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="/javascripts/active.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script>
        Array.from($('.content')).map((item) => {
            while (item.innerText.match("\\:imgLocation")) {
                item.innerText = item.innerText.replace("\\:imgLocation",'')
            }
        })
    </script>
</body>

</html>